/*
 *                  CONTENTS
 * GENERIC
 * ....custom properties
 * ....box-sizing
 * ....resets
 * ....elements
 *
 * COMPONENTS
 * ....card
 *
 * LAYOUT
 * ....grid-center
 *
 * CLASSES
 * ....backgrounds
 * ....borders
 * ....colors
 * ....font
 * ....text layout
 * ....sizes
 * ....margins
 * ....paddings
 *
 */










/*----------------------------*\
    #GENERIC 
\*----------------------------*/

/* #CUSTOM PROPERTIES */
html {
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);
    --white: hsla(0, 0%, 100%, 0.75);
    --gray: hsl(0, 0%, 95%);
    --regular: 400;
    --bold: 700;
    --mobile: 375px;
    --desktop: 1440px;
}





/* #BOX-SIZING */
html                   { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit;    }





/* #RESETS */
* { margin: 0; padding: 0; }





/* #ELEMENTS */
html { font: var(--regular) 15px 'Lexend Deca', sans-serif; }










/*----------------------------*\
    #COMPONENTS
\*----------------------------*/

.card {
    color: var(--white);
    padding: 3rem;
}

.card__title {
    color: var(--gray);
    font-size: 3rem;
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
}

.card__description {
    line-height: 1.8;
}





.learn-more-link {
    display: inline-block;
    background-color: var(--gray);
    border-radius: 2rem;
    text-decoration: none;
    padding: 1rem 3rem;
}

/*----------------------------*\
    #LAYOUT
\*----------------------------*/

/*----------------------------*\
    #CLASSES
\*----------------------------*/

/* #BACKGROUNDS */
.background-color-orange    { background-color: var(--orange);    }
.background-color-cyan      { background-color: var(--cyan);      }
.background-color-dark-cyan { background-color: var(--dark-cyan); }

.sedan-img {
    background-image: url(./images/icon-sedans.svg);
    background-repeat: no-repeat;
    background-position: left 3rem top 3rem;
}





/* #BORDERS */

/* #COLORS */
.color-orange    { color: var(--orange);    }
.color-cyan      { color: var(--cyan);      }
.color-dark-cyan { color: var(--dark-cyan); }





/* #FONT */

/* #TEXT LAYOUT */

/* #SIZES */

/* #MARGINS */
.margin-0-auto        { margin: 0 auto;        }

.margin-1rem          { margin:        1rem;   }
.margin-top-1rem      { margin-top:    1rem;   }
.margin-right-1rem    { margin-right:  1rem;   }
.margin-bottom-1rem   { margin-bottom: 1rem;   }
.margin-left-1rem     { margin-left:   1rem;   }

.margin-1-5rem        { margin:        1.5rem; }
.margin-top-1-5rem    { margin-top:    1.5rem; }
.margin-right-1-5rem  { margin-right:  1.5rem; }
.margin-bottom-1-5rem { margin-bottom: 1.5rem; }
.margin-left-1-5rem   { margin-left:   1.5rem; }

.margin-2rem          { margin:        2rem;   }
.margin-top-2rem      { margin-top:    2rem;   }
.margin-right-2rem    { margin-right:  2rem;   }
.margin-bottom-2rem   { margin-bottom: 2rem;   }
.margin-left-2rem     { margin-left:   2rem;   }

.margin-3rem          { margin:        3rem;   }
.margin-top-3rem      { margin-top:    3rem;   }
.margin-right-3rem    { margin-right:  3rem;   }
.margin-bottom-3rem   { margin-bottom: 3rem;   }
.margin-left-3rem     { margin-left:   3rem;   }

.margin-4rem          { margin:        4rem;   }
.margin-top-4rem      { margin-top:    4rem;   }
.margin-right-4rem    { margin-right:  4rem;   }
.margin-bottom-4rem   { margin-bottom: 4rem;   }
.margin-left-4rem     { margin-left:   4rem;   }





/* #PADDINGS */
.padding-1rem          { padding:        1rem;   }
.padding-top-1rem      { padding-top:    1rem;   }
.padding-right-1rem    { padding-right:  1rem;   }
.padding-bottom-1rem   { padding-bottom: 1rem;   }
.padding-left-1rem     { padding-left:   1rem;   }

.padding-1-5rem        { padding:        1.5rem; }
.padding-top-1-5rem    { padding-top:    1.5rem; }
.padding-right-1-5rem  { padding-right:  1.5rem; }
.padding-bottom-1-5rem { padding-bottom: 1.5rem; }
.padding-left-1-5rem   { padding-left:   1.5rem; }

.padding-2rem          { padding:        2rem;   }
.padding-top-2rem      { padding-top:    2rem;   }
.padding-right-2rem    { padding-right:  2rem;   }
.padding-bottom-2rem   { padding-bottom: 2rem;   }
.padding-left-2rem     { padding-left:   2rem;   }

.padding-3rem          { padding:        3rem;   }
.padding-top-3rem      { padding-top:    3rem;   }
.padding-right-3rem    { padding-right:  3rem;   }
.padding-bottom-3rem   { padding-bottom: 3rem;   }
.padding-left-3rem     { padding-left:   3rem;   }

.padding-4rem          { padding:        4rem;   }
.padding-top-4rem      { padding-top:    4rem;   }
.padding-right-4rem    { padding-right:  4rem;   }
.padding-bottom-4rem   { padding-bottom: 4rem;   }
.padding-left-4rem     { padding-left:   4rem;   }