/*
 *                  CONTENTS
 * GENERIC
 * ....custom properties
 * ....box-sizing
 * ....resets
 * ....elements
 *
 * COMPONENTS
 * ....cards container
 * ....card
 * ....learn more links
 *
 * LAYOUT
 * ....main grid
 *
 * CLASSES
 * ....background colors
 * ....background images
 * ....colors
 * ....margins
 *
 */










/*----------------------------*\
    #GENERIC 
\*----------------------------*/

/* #CUSTOM PROPERTIES */
html {
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);
    --white: hsla(0, 0%, 100%, 0.75);
    --gray: hsl(0, 0%, 95%);
    --regular: 400;
    --bold: 700;
    --mobile: 375px;
    --desktop: 1440px;
}





/* #BOX-SIZING */
html                   { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit;    }





/* #RESETS */
* { margin: 0; padding: 0; }





/* #ELEMENTS */
html { font: var(--regular) 15px 'Lexend Deca', sans-serif; }










/*----------------------------*\
    #COMPONENTS
\*----------------------------*/

/* #CARDS CONTAINER */
.cards {
    margin-top: 5rem;
}

@media screen and (min-width: 1440px) {
    .cards {
        display: flex;
        margin-top: 0rem;
    }
}





/* #CARD */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
    max-width: calc(0.9 * var(--mobile));
    padding: 3rem;
}

.card__title {
    color: var(--gray);
    font-size: 3rem;
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
}

.card__description {
    line-height: 1.8;
}

.card:first-child { border-radius: 1rem 1rem 0rem 0rem; }
.card:last-child  { border-radius: 0rem 0rem 1rem 1rem; }

@media screen and (min-width: 1440px) {
    .card:first-child { border-radius: 1rem 0rem 0rem 1rem; }
    .card:last-child  { border-radius: 0rem 1rem 1rem 0rem; }
}





/* #LEARN MORE LINKS */
.learn-more-link {
    display: inline-block;
    background-color: var(--gray);
    text-decoration: none;
    margin-top: 2rem;
    border: 2px solid var(--white);
    border-radius: 2rem;
    padding: 1rem 3rem;
}

@media screen and (min-width: 1440px) {
    .learn-more-link {
        margin-top: 6rem;
    }

    .learn-more-link:hover {
        background-color: hsla(0, 0%, 100%, 0);
        color: var(--white);
    }   
}










/*----------------------------*\
    #LAYOUT
\*----------------------------*/

/* #MAIN GRID */
.main-grid {
    display: grid;
    place-items: center;
}

@media screen and (min-width: 1440px) {
    .main-grid {
        height: 100vh;
    }
}










/*----------------------------*\
    #CLASSES
\*----------------------------*/

/* #BACKGROUND COLORS */
.background-color-orange    { background-color: var(--orange);    }
.background-color-cyan      { background-color: var(--cyan);      }
.background-color-dark-cyan { background-color: var(--dark-cyan); }
.background-color-gray      { background-color: var(--gray);      }





/* #BACKGROUND IMAGES */
.sedan-img {
    background-image: url(./images/icon-sedans.svg);
    background-repeat: no-repeat;
    background-position: left 3rem top 3rem;
}

.suv-img {
    background-image: url(./images/icon-suvs.svg);
    background-repeat: no-repeat;
    background-position: left 3rem top 3rem;
}

.luxury-img {
    background-image: url(./images/icon-luxury.svg);
    background-repeat: no-repeat;
    background-position: left 3rem top 3rem;
}





/* #COLORS */
.color-orange    { color: var(--orange);    }
.color-cyan      { color: var(--cyan);      }
.color-dark-cyan { color: var(--dark-cyan); }





/* #MARGINS */
.margin-top-2rem      { margin-top:    2rem;   }
.margin-top-5rem      { margin-top:    5rem;   }